<% content_for(:html_title) {'タスクの一覧'} %>

<h1>タスクの一覧</h1>

<p><%= button_to '新規登録', {controller: 'tasks', action: 'new'}, {method: :get} %></p>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>タスク名</th>
      <th>ステータス</th>
      <th>優先度</th>
      <th>期限</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.title %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= task.deadline %></td>
      <td><%= button_to '詳細', task_path(task.id), {method: :get} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
