<% content_for(:html_title) {'タスクの一覧'} %>

<h1>タスクの一覧</h1>

<div>
  <%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <p>
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, value: @search_params[:title] %>
  </p>
  <p>
    <%= form.label :status, 'ステータス' %>
    <%= form.select :status, [['未着手', '未着手'], ['進行中', '進行中'], ['完了', '完了']], {prompt: 'タスクの状態'} %>
    <%= form.submit '検索' %>
  </p>
  <% end %>
</div>

<p><%= button_to '新規登録', {controller: 'tasks', action: 'new'}, {method: :get, id: 'new_button'} %></p>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>タスク名</th>
      <th>ステータス</th>
      <th>優先度</th>
      <th>期限</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.title %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= task.deadline %></td>
      <td><%= button_to '詳細', task_path(task.id), {method: :get} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
