<% content_for(:html_title) {'タスクの詳細'} %>

<h1>タスクの詳細</h1>

<p><%= button_to '戻る', 'javascript:history.back()', {method: :get} %></p>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>タスク名</th>
      <th>詳細</th>
      <th>ステータス</th>
      <th>優先度</th>
      <th>期限</th>
      <th>作成日</th>
      <th>更新日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.id %></td>
      <td><%= @task.title %></td>
      <td><%= @task.description %></td>
      <td><%= @task.status %></td>
      <td><%= @task.priority %></td>
      <td><%= @task.deadline %></td>
      <td><%= @task.created_at %></td>
      <td><%= @task.updated_at %></td>
    </tr>
  </tbody>
</table>

<p>
<table>
  <tr>
    <td>
      <%= button_to '削除', "/tasks/#{@task.id}", {method: :delete, data: {confirm: 'タスクを削除しても良いですか？'}} %>
    </td>
    <td>
      <%= button_to '編集', edit_task_path(@task.id), {method: :get} %>
    </td>
  </tr>
</table>
</p>
